// =============================================================================
// CHECKOUT LAYOUTS
//
// 1. Needed to overwrite the element-level styles applied by sticky directive
// =============================================================================

.layout {
    @include grid-row;

    min-height: remCalc(200px);
    padding: 0;

    @include breakpoint("large") {
        padding-bottom: spacing("single");
    }
}

.layout-cart {
    margin-top: 40px;
    padding: 0px !important;
    border-radius: 16px;
    border: 4px solid var(--Glass-Stroke, #FFF);
    background: transparent;
    @include grid-column($columns: 12);

    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }

    @include breakpoint("xlarge") {
        width: grid-calc(4, $total-columns);
    }

    &.is-sticky {
        position: sticky;
        top: 0;
    }

    .optimizedCheckout-orderSummary {
        border: unset;
        background-color: transparent;
        box-shadow: unset;
        margin: 0px;
    }
}

.layout-main {
    @include grid-column(12);

    @include breakpoint("large") {
        width: grid-calc(7, $total-columns);
    }

    @include breakpoint("xlarge") {
        width: grid-calc(8, $total-columns);
    }

    @include breakpoint("xlarge") {
        padding-right: 64px;
        padding-left: 0 !important;
    }
}

@media print {
    @page {
        margin: spacing("single") 0;
        size: auto;
    }

    .layout-cart {
        display: block;
        float: none;
        page-break-inside: auto;
        // scss-lint:disable ImportantRule
        position: static !important; // 1
        // scss-lint:enable ImportantRule
        width: $printLayout-widthFixed;
    }

    .layout-main {
        float: none;
        width: $printLayout-widthFixed;
    }
}

.checkout-footer {
    @include grid-row;

    margin: 0 auto;
    padding: 24px 0;
}

.checkout-footer-content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-footer_needHelp {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Montserrat';

    span {
        text-decoration-line: underline;
    }
}

.checkout-footer_description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: #121212;
}

.checkout-footer_privacyAndTerms {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Montserrat';
    display: flex;
    gap: 24px;

    a {
        text-decoration-line: underline;
    }
}